# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Macros
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
